<template>
  <div class="form">
    <div class="form-group">
      <input type="text" class="form-control" id="title" placeholder="Заголовок" v-model="title">
    </div>
    <div class="form-group">
      <textarea class="form-control" id="desc" rows="3" placeholder="Описание" v-model="desc"></textarea>
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-success" @click="addTodo">Добавить</button>
    </div>
  </div>
</template>

<script>
export default {
  name: "TodoCreate",
  data() {
    return {
      title: '',
      desc: '',
    }
  },
  methods: {
    addTodo() {
      if (this.title && this.desc) {
        this.$store.dispatch('setTodo', {
          title: this.title,
          description: this.desc,
        })
        .then(() => {
          this.title = '';
          this.desc = '';
        });
      }
    }
  }
};
</script>