<template>
  <div class="author-list">
    <h4 class="d-flex justify-content-between">
      Авторы
      <button type="button" class="btn btn-success m-0 p-0 px-1" @click="addAuthor">
        <i class="far fa-plus-square"></i>
      </button>
    </h4>
    <ul class="list-group" v-if="authorList.length">
      <li
        class="list-group-item d-flex justify-content-between align-items-center list-group-item-action"
        v-for="item in authorList"
        :key="item.id"
      >
        {{item.first_name}} {{item.last_name}} {{item.middle_name}}
        <span class="badge badge-primary badge-pill">14</span>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "AuthorList",
  data() {
    return {
      author: {
        first_name: '',
        middle_name: '',
        last_name: '',
      }
    }
  },
  computed: {
    authorList() {
      return this.$store.state.authorList || [];
    }
  },
  methods: {
    addAuthor() {

    }
  },
  mounted() {
    this.$store.dispatch('getAuthorList');
  }
};
</script>

<style scoped lang="css">

</style>