<template>
  <div class="category-list mt-5">
    <h4 class="d-flex justify-content-between">
      Категории
      <button type="button" class="btn btn-success m-0 p-0 px-1" @click="addCategory">
        <i class="far fa-plus-square"></i>
      </button>
    </h4>
    <ul class="list-group" v-if="categoryList.length">
      <li
        class="list-group-item d-flex justify-content-between align-items-center list-group-item-action"
        v-for="item in categoryList"
        :key="item.id"
      >
        {{item.title}}
        <span class="badge badge-primary badge-pill">14</span>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "CategoryList",
  data() {
    return {
      title: '',
      description: ''
    }
  },
  computed: {
    categoryList() {
      return this.$store.state.categoryList || [];
    }
  },
  methods: {
    addCategory() {

    }
  },
  mounted() {
    this.$store.dispatch('getCategoryList');
  }
};
</script>

<style scoped lang="css">

</style>