<template>
  <div class="book">
    <div class="row">
      <div class="col-sm-12 col-md-4 col-lg-3">
        <AuthorList />
        <CategoryList />
      </div>
      <div class="col-sm-12 col-md-8 col-lg-9">
        <BookList />
      </div>
    </div>
  </div>
</template>

<script>
import AuthorList from "../components/Book/Author/AuthorList.vue";
import CategoryList from "../components/Book/Category/CategoryList.vue";
import BookList from "../components/Book/Book/BookList.vue";

export default {
  name: 'Book',
  components: { BookList, AuthorList, CategoryList }
}
</script>
