<template>
  <div class="todo">
    <h1>Список задач</h1>
    <TodoCreate />
    <TodoList/>
  </div>
</template>

<script>
import TodoList from '@/components/Todo/TodoList.vue';
import TodoCreate from "../components/Todo/TodoCreate.vue";

export default {
  name: 'Todo',
  components: { TodoList, TodoCreate },
  methods: {

  },
  created() {
    this.$store.dispatch('getTodoList');
  }
}
</script>
