<template>
  <div class="book-list">
    <h1 class="d-flex justify-content-between">
      Список книг
        <i class="far fa-plus-square text-success" @click="addBook"></i>
    </h1>
    <ul class="list-group" v-if="bookList.length">
      <li
        class="list-group-item d-flex justify-content-between align-items-center list-group-item-action"
        v-for="item in bookList"
        :key="item.id"
      >
        {{item.title}}
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "BookList",
  data() {
    return {
      title: '',
      description: '',
      image: '',
      authorId: null,
      categoryId: null,
    }
  },
  computed: {
    bookList() {
      return this.$store.state.bookList || [];
    }
  },
  methods: {
    addBook() {

    }
  },
  mounted() {
    this.$store.dispatch('getBookList');
  }
};
</script>

<style scoped lang="css">

</style>